body{
    background-color: #DCA9FE;
}
#indice{
  color:#F6E3CE;
    background-color: #660066;
}
h1 {
    font-size: 24px;
  text-align:center;
}
#ind{
  font-size:20px;
  text-align:center;
  text-transform:capitalize;
  text-shadow:5px;
  line-height:30px;  
  background:#9933CC;  
}
a {
  text-decoration:none;
  display:inline-block;
  background:#9933CC;
  color:white;
  padding: 0px;
    width: 100%;
  box-shadow: 0px 0px 0px #1D64A6;
}
a:hover {
  box-shadow: 0px 0px 0px #5F9EA0;
  color: #000;
  background-color: aqua;
}
a:active {
  box-shadow:none;
}

#encabezado{
    background: #660066;
    color:white;
    padding: auto;
    margin: 10px;
    font-size: 15px;
}
#encabezado2{
    font-size: 40px;
    float: left;
    margin: 10px 70px 0px 10px;
}
td{
    padding: 10px;
    border:1px solid black;
    background-color: aqua;
    text-align: center;
    font-weight: bold;
}
table{
    width: 90%;
}
table img{
    margin-left: 30%;
    margin-right: 30%;
}
